<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<add name="GrowIndigoV1Entities" connectionString="metadata=res://*/DataEntities.GrowIndigoLocalDBEntities.csdl|res://*/DataEntities.GrowIndigoLocalDBEntities.ssdl|res://*/DataEntities.GrowIndigoLocalDBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.1.10\SQLE2016;initial catalog=GrowIndigoV1;user id=sa;password=sipl@123;MultipleActiveResultSets=True;App=EntityFramework;&quot;" providerName="System.Data.EntityClient" />-->
  <!--<add name="GrowOnlineDevEntities" connectionString="metadata=res://*/DataEntities.GrowIndigoLocalDBEntities.csdl|res://*/DataEntities.GrowIndigoLocalDBEntities.ssdl|res://*/DataEntities.GrowIndigoLocalDBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=13.234.158.57;initial catalog=GrowOnlineDev;user id=shivam.dhagat;password=Shivam@9806;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.5.0" newVersion="5.11.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="GrowOnlineDevEntities" connectionString="metadata=res://*/DataEntities.GrowIndigoLocalDBEntities.csdl|res://*/DataEntities.GrowIndigoLocalDBEntities.ssdl|res://*/DataEntities.GrowIndigoLocalDBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=13.234.158.57;initial catalog=GrowIndigoV1;user id=shivam.dhagat;password=Shivam@9806;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="GrowOnlineDevEntities" connectionString="metadata=res://*/DataEntities.GrowIndigoLocalDBEntities.csdl|res://*/DataEntities.GrowIndigoLocalDBEntities.ssdl|res://*/DataEntities.GrowIndigoLocalDBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.32.241;initial catalog=ppidb3;user id=sa;password=Mahdb@2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
  <!--<add name="GrowOnlineDevEntities" connectionString="metadata=res://*/DataEntities.GrowIndigoLocalDBEntities.csdl|res://*/DataEntities.GrowIndigoLocalDBEntities.ssdl|res://*/DataEntities.GrowIndigoLocalDBEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.32.122;initial catalog=ppiDbLive;user id=sa;password=Mahdb@2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>-->
</configuration>