@model List<GrowIndigo.DAL.DataEntities.Shop_Shipping_address>
@using GrowIndigo.Utilities.Resources;
@using GrowIndigo.Utilities;
@using GrowIndigo.DAL.DataModels.CommonModels;
@{
    var Projectname = ConfigReader.ProjectName;
    LoginViewModel loggedInUser = Session["LoggedInUser"] != null ? (LoginViewModel)Session["LoggedInUser"] : null;
}
<!-- Meta Tag -->
<!-- Title Tag  -->
<title>Grow Indigo : Checkout</title>

<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
      rel="stylesheet">
<script src="@Projectname/Scripts/jquery-3.3.1.min.js"></script>
<script src="@Projectname/Scripts/jquery.validate.min.js"></script>
<script src="@Projectname/Scripts/jquery.validate.unobtrusive.min.js"></script>


<section class="shop checkout section">
    <div class="section-title">
        <h2>@Resource.GrowOnline_Common_CheckoutDetails</h2>
    </div>
    <div class="container">
        <div class="row">
            @Html.Action("GetAddressForUser", "Layout", new { MobileNumber = loggedInUser.MobileNumber })
            @Html.Action("GetCartDetails", "Layout", new { MobileNumber = loggedInUser.MobileNumber })
        </div>
    </div>
</section>
<footer class="footer">
    <div data-includeHTML="_FooterPartial.html"></div>
</footer>


<script>

    var msg = '@TempData["AddressSuccess"]';
    if (msg !='') {
    swal(msg);
    }
    
    </script>