@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "PrivacyPolicy";
}
<!-- Slider Area -->
<section class="inner-banner-bg contact-banner-bg">&nbsp;</section>
<!-- Start Contact -->
<section id="privacy-policy" class="privacy-policy section">
    <div class="section-title">
        <h2>Privacy Policy</h2>
    </div>
    <div class="container">
        <div class="contact-head">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-12">

                    <p>
                        At the Company we are committed to respecting the privacy rights of our customers and all uses of our
                        App.
                    </p>
                    <p>
                        We respect and safeguard the personally identifiable information ("Personal Information") which we may
                        receive and collect from you on our App and in the course of our other interactions online.
                    </p>
                    <h6 class="title mt-20">Information collected</h6>
                    <p>
                        The Company may collect the following types of Personal Information[ Please confirm if any other
                        categories of “Personal information” may be collected from the user while using the mobile application. ]
                        from you when you register for any of the services offered via the website / App or otherwise voluntarily
                        provide such information.
                    </p>
                    <h6 class="title mt-20">Information collected</h6>
                    <ul class="green-circle mt-15">
                        <li>Name (including first name and last name)</li>
                        <li>Residence address</li>
                        <li>E-mail address</li>
                        <li>Phone number (mobile number / landline number)</li>
                        <li>Age Proof</li>
                        <li>Bank account number with IFSC code</li>
                        <li>Aadhar Card or any other public document of identity.</li>
                        <li>Any document of public record about the area of agricultural land possessed/ owned by the user.</li>
                        <li>Seed license number with validity date</li>
                        <li>Pan card</li>
                        <li>VAT/GST registration number</li>
                        <li>Preferred transport</li>
                    </ul>
                    <h6 class="title mt-20">Confidentiality and Security</h6>
                    <p>
                        We will keep confidential and protect your Personal Information except where disclosure is required
                        or permitted by law.
                    </p>
                    <p>
                        We limit access to Personal Information to employees who we believe reasonably need to come into contact
                        with that information to provide products or services to you or in order to do their jobs.
                    </p>
                    <p>
                        We will take reasonable steps to ensure that any third-party service provide who may have access to the
                        Personal Information are obligated to protect Personal Information on our behalf through confidentiality
                        agreements and otherwise.
                    </p>
                    <p>
                        The Company adopts reasonable security practices and procedures to protect information from unauthorized
                        access, damage, use, modification, disclosure or impairment as required by applicable privacy laws.
                    </p>

                    <h6 class="title mt-20">Accuracy</h6>
                    <p>To the extent that you do provide us with Personal Information, we wish to maintain accurate and current Personal Information. Should you need to update or correct any Personal Information provided by you on the App, please contact us at the following e-mail address <a href="mailto:info@growindigo.co.in"></a>info@growindigo.co.in</a> and we will make reasonable efforts to incorporate the changes in your Personal Information that we hold as soon as practicable</p>
                    <h6 class="title mt-20">Grievances and Complaints</h6>
                    <p>
                        In case of any grievances or complaints in relation to the processing of your information by the Company, the same may be addressed to the Grievance Officer at the following address:
                    </p>
                    <p>
                        <b>Grow Indigo Private Limited</b><br />
                        Gut No. 355, Jalna – Aurangabad Road,<br />
                        <b>Post Box no</b>. 76, Dawalwadi, Jalna-431203<br />
                        <b>Tel. No</b>.: 02482-262471 to 262475 / 394700<br />
                        <b>Fax No</b>.: 02482-26002<br />

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/ End Contact -->
