@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<!-- Slider Area -->
<section class="inner-banner-bg contact-banner-bg">&nbsp;</section>
<!-- Start Cowndown Area -->

<!-- Start Contact -->
<section id="terms-conditions" class="terms-conditions section">
    <div class="section-title">
        <h2>Terms and Conditions</h2>
    </div>
    <div class="container">
        <div class="contact-head">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-12">
                    <h6 class="title">Grow  Online</h6>
                    <p>(A Android Mobile App)  is owned and operated by Grow Indigo Private Limited.  Please read these terms and conditions carefully, as by accessing this Mobile App ,You are agreeing to abide by all of the conditions set out below, the or  Policy(ies) provided on the Mobile App.  The Company reserves the right to modify, alter or update these terms and conditions and the Policy (ies) at any time and You agree to be bound by such modifications, alterations and updates. The terms and conditions  exists and  the Policy(ies) applicable at the time of Your visiting, accessing, browsing through and/or using the Mobile App is/are the terms and Policy (ies) applicable to You. If You do not agree to these terms and conditions, please discontinue using this Mobile App immediately.</p>
                    <p>The terms <b>“You”</b>, <b>“Your”</b>, <b>“Yourself”</b> or “User” shall mean and refer to the person(individual/entity) visiting, accessing, browsing through and/or using the Mobile App.</p>
                    <h6 class="title mt-20">Warranty and Liability Disclaimer</h6>
                    <p>This Mobile App and the Content herein or any information which may be provided through this Mobile App by the Company is provided in good faith on an "as is", "as available", “as provided” basis.  The Company makes no representation or warranty whether express or implied in respect of the Mobile App and/or the information, Content (as defined below), materials, products etc. which are included/ mentioned herein on the Mobile App.  Specifically, the Company does not inter alia make any warranties as to accuracy or completeness, quality (unless stated otherwise), merchantability, identical appearance, fitness for a particular purpose, non-infringement of any third party rights, including intellectual property rights, in respect of any of the information, Content, materials, products available or mentioned on the Mobile App.</p>
                    <p>The information, recommendations/suggestions provided on or through this Mobile App are of a general nature and should not be considered as a substitute for detailed advice from experts.  While, the Company uses reasonable endeavours to ensure that the aforesaid information will be accurate and helpful, the use and reliance on the information provided on or through the Mobile App will be at the sole risk of the User.</p>
                    <p>The Company and/or any of its directors, officers, employees, agents shall in no event be liable for and hereby expressly exclude liability for any loss, damage or injury (including any special, exemplary, indirect, incidental, consequential damages, costs or associated legal fees) arising whether directly or indirectly, from the use of this Mobile App including without limitation loss or damage to any crops, loss of data, revenue or profits.</p>
                    <h6 class="title mt-20">Ownership of Content</h6>
                    <p>The Mobile App is owned by the Company. Unless otherwise indicated, all Content on this Mobile App, including illustrations, photographs, images, artwork, designs, text, graphics, logos, button icons, images, audio and video clips and software (collectively, "Content") appearing on this Mobile App are owned or controlled or licensed-in by the Company and/or its subsidiaries, affiliates and Content suppliers and are protected by Indian and worldwide design, trademark, trade dress, copyright and other intellectual property laws Content. User.  The Users, other than the Content suppliers are  not authorized to copy, modify, reproduce, publish, use or exploit in any way the Content or any part thereof or otherwise modify, obscure or delete any copyright or other propriety notices on this Mobile App without the Company’s prior written consent.  No right, title or interest in any materials or software, on this Mobile App is transferred to You from Your use of this Mobile App.</p>
                    <h6 class="title mt-20">Third Party Content and Intellectual Property</h6>
                    <p>The Company respects the copyright of others, and requires that the Users of the Mobile App, or the services or features made available on or through the Mobile App, do the same.  The Company has no intention of any kind to infringe copyright and where applicable the owners are given due credit through acknowledgement and/or written credits. The Company is not responsible for the copyright of any Content that may be used on the Mobile App which may be uploaded by the Users or freely available in the public domain e.g. Content available on the Internet with no source or copyright information.</p>
                    <p>
                        If You believe that any Content appearing on the Mobile App infringes on Your copyright, You must contact us immediately by emailing us or calling us (details given in Call Us/Contact Us section under My Account in the Mobile App) with all of the following information and the necessary action in accordance with applicable law will be taken as soon as possible.
                    </p>
                    <ul class="green-circle pl-15">
                        <li>Your legal name, address, telephone number, and e-mail address</li>
                        <li>A description of the copyrighted work that You claim has been infringed</li>
                        <li>The exact URL or a description of each place where alleged infringing material is located or, if multiple copyrighted works are infringed, a representative list of such works including the URL or description of each location</li>
                        <li>A statement by You that You have a good faith belief that the disputed use has not been authorized by You, Your agent, or the law</li>
                        <li>Your electronic or physical signature or the electronic or physical signature of the person authorized to act on Your behalf and</li>
                        <li>A statement by You made under penalty of perjury, that the information in Your notice is accurate, that You are the copyright owner or authorised to act on the copyright owner’s behalf.</li>
                    </ul>
                    <p>
                        Certain trademarks which are not owned by the Company may be featured on the Mobile App. for instance in the context of providing information, Content information, product display etc.. Such trademarks are the property of their respective third party owners, and the use of trademarks, logos, or brand names in the Mobile App. are for identification purposes only, and does not imply any endorsement by the Company of the trademark owner, or vice-versa, or that such trademark owner has authorized the Company to promote its products, services under the trademark or to use such a trademark.
                    </p>
                    <h6 class="title mt-20">User Content</h6>
                    <p>In certain sections  of the Mobile App, Users are be allowed to post images, queries, messages and other information or Content.	</p>
                    <p>Furthermore, by using this Mobile App, You agree not to post, upload, transmit, distribute, store, create or otherwise publish through the Mobile App any of the following:</p>
                    <ul class="green-circle pl-15">
                        <li>Content that is unlawful, blasphemous, paedophilic, racially or ethnically objectionable, libellous, defamatory, obscene, pornographic, indecent, lewd, suggestive, harassing, threatening, invasive of privacy or publicity rights, abusive, inflammatory, fraudulent, otherwise objectionable or which threatens relationships with our employees, partners, customers, suppliers or licensors, relates to or encourages money laundering, gambling or otherwise unlawful in any manner</li>
                        <li>Content that may infringe any patent, trademark, trade secret, copyright or other intellectual or proprietary right of any party.  By posting any User CContent, You represent and warrant that You have the lawful right to distribute and produce such User Content</li>
                        <li>Content that impersonates any person or entity or otherwise misrepresents Your identity or affiliation with another person or entity</li>
                        <li>Spam, direct marketing communications or any unsolicited advertising, promotional materials or other forms of solicitation or commercial Content</li>
                        <li>Content that constitutes, encourages or provides instructions for a criminal offense, violates the rights of any party or that creates liability or violates any applicable local, state, national or international law</li>
                        <li>Software viruses, spyware, Trojan horses, easter eggs or any other destructive files, computer codes or programs designed to interrupt destroy or limit the functionality of any computer resource</li>
                        <li>Content that, in the sole judgment of the Company, is objectionable, restricts or inhibits any other person from using or enjoying the Sites or which damages the image or rights of the Company, other Users or third parties</li>
                        <li>Content which deceives or misleads the addressee about the origin of the messages or communicates any information which is grossly offensive or menacing in nature; and</li>
                        <li>Content that threatens the unity, integrity, defence, security or sovereignty of India, friendly relations with foreign states, public order, causes incitement to the commission of any cognizable offence or prevents investigation of any offence or is insulting to any other nation.</li>

                    </ul>
                    <p>If You become aware of Content(s) that You believe violates these Terms of Use, You may report such violation by emailing or calling us (details given in Call Us/Contact Us section under</p>
                    <p>My Account in the Mobile App). Enforcement of these Terms of Use, however, is solely in our discretion and absence of enforcement in some instances does not constitute a waiver of our right to enforce the Terms of Use in other instances.</p>
                    <h6 class="title mt-20">Virus protection</h6>
                    <p>While the Company makes reasonable efforts to ensure that the Mobile App is free from viruses and other malware, Users are requested to take appropriate measures against viruses and other malware and malicious objects.  Except to the extent as provided by the applicable laws, the Company disclaims all liability (whether direct, indirect, consequential or otherwise) with respect to any such inadvertent transmission of viruses and malware resulting from use of the Mobile App.</p>
                    <h6 class="title mt-20">Virus protection</h6>
                    <p>While the Company makes reasonable efforts to ensure that the Mobile App is free from viruses and other malware, Users are requested to take appropriate measures against viruses and other malware and malicious objects.  Except to the extent as provided by the applicable laws, the Company disclaims all liability (whether direct, indirect, consequential or otherwise) with respect to any such inadvertent transmission of viruses and malware resulting from use of the Mobile App.</p>
                    <h6 class="title mt-20">Indemnification</h6>
                    <p>You agree to defend, indemnify and hold the Company harmless from and against any and all actions claims, damages, costs and expenses, including attorney's fees, arising from or related to any Content that You may upload on the Mobile App lication, Your access to, or inability to access this Mobile App or from Your reliance upon any information contained on this Mobile App lication.</p>
                    <h6 class="title mt-20">Termination</h6>
                    <p>The Company may immediately and at its sole discretion, without notice, deny You access to this Mobile App if, in the Company's opinion, You fail to comply with any term or provision of the terms and conditions set forth herein.</p>
                    <h6 class="title mt-20">Applicable Law</h6>
                    <p>This Mobile App, including the Content and information contained herein, shall be governed by the laws of the Republic of India and the courts of Mumbai, India shall retain exclusive jurisdiction to entertain any proceedings in relation to any disputes arising out of the same.  As such, the laws of India shall govern the disclaimer, legal notices, privacy policy, order form and any transaction completed using this website.</p>
                </div>

            </div>
        </div>
    </div>
</section>
<!--/ End Contact -->